<h1> Word Puzzle </h1>

<form action="word">
  <div class="form-group">
     <label for="sentence">Place your sentence here:</label>
     <br>
     <input id="sentence" name="sentence" class="form-control" type="text" placeholder="Enter your sentence">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
